@model BlocketProject.Models.DbClasses.DbMessages
@using BlocketProject.Helpers
@{
    var user = ConnectionHelper.GetUserInformationByUserId(Model.SenderUserId);
    var userName = user.FirstName + " " + user.LastName;
    var Event = ConnectionHelper.GetAdById(Model.EventId);
    var newString = "";

}
@if (Model.MessageText.Contains(userName) || Model.MessageText.Contains(Event.Title))
{



    newString = Model.MessageText.Replace(userName, "<a href=\"../../ProfilePage/Index?UserId=" + Model.SenderUserId + "\">" + userName + "</a>")
        .Replace(Event.Title, "<a href=\"../../events/?EventId=" + Event.EventId + "\">" + Event.Title + "</a>");
    
    var text = new MvcHtmlString(newString);

    <h3>@Model.MessageTitle</h3><br />
    <p>@text</p>

}
else if (Model.MessageTitle != null)
{
    <h3>@Model.MessageTitle</h3><br />
    <p>@Model.MessageText</p>
}
else
{
    <p>Klicka på ett meddelande i menyn för att se det.</p>
}