<appSettings>
  <add key="AdsDescriptionError" value="Add a description" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppID" value="745986415461593"/>
  <add key="FacebookAppSecret" value="c41f936ab00439bc5a5ea0733dcd647e"/>
  <add key="FacebookScope" value="email, user_location, user_birthday"/>
</appSettings>
