<appSettings>
  <add key="AdsDescriptionError" value="Add a description" />
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FacebookAppID" value="671069002983296"/>
  <add key="FacebookAppSecret" value="5af0f722142e6d6ba491e92c27581223"/>
  <add key="FacebookScope" value="read_friendlists, user_friends, email, user_location"/>
</appSettings>
