@model BlocketProject.Models.ViewModels.UsersOnlineViewModel


<h5>@Model.Heading <b>@Model.RegistredUsers</b></h5>

<div class="ImageFloatLeft">
    <img src="@Model.FemaleLogo" class="logo" />

    <img src="@Model.MaleLogo" class="logo" />
</div>
