@model BlocketProject.Models.ViewModels.SearchPageViewModel

@if (Model.SearchQuery != null && Model.SearchQuery != "")
{
    if (Model.NumberOfResults != 0 || Model.NumberOfResults != null)
    {
        <h3>@Model.NumberOfResults sökresultat matchade din sökning</h3>
    }
    else
    {
        <p>Inga resultat matchade din sökning.</p>
    }
    if (Model.EventModelList != null && Model.EventModelList.Count != 0)
    {
        <h4>Event:</h4>
        <table class="searchEventTable">
            @foreach (var Event in Model.EventModelList)
            {
                using (Html.BeginForm("EventRedirect", "ProfilePage", new { @id = Event.Key }, FormMethod.Post))
                {
                    <tr>
                        <td>
                            <button type="submit" class="linkButton">
                                @Event.Value.EventTitleHtmlString
                            </button><br />
                            @Event.Value.EventHtmlString
                        </td>
                    </tr>
                }
            }
        </table>
    }

    if (Model.UserHtmlStringDictionary != null && Model.UserHtmlStringDictionary.Count != 0)
    {
        <h3>Personer:</h3>

        <table class="searchUserTable">
            @foreach (var user in Model.UserHtmlStringDictionary)
            {
                <tr>
                    @using (Html.BeginForm("ProfileRedirect", "ProfilePage", new { @id = user.Key }, FormMethod.Post))
                    {
                        <td>
                            <button type="submit" class="linkButton">
                                @user.Value
                            </button>
                        </td>
                    }
                </tr>
            }
        </table>
    }
    

}
else
{
    <h3>Du har inte angivit en sökterm, var god försök igen.</h3>
}