@using BlocketProject.Helpers
@{

}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width" />
    <title>LetEmSale</title>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.1.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link href="~/Style/Custom.css" rel="stylesheet" />
    <link href="~/Style/DatePicker.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-default">
                @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                {


                    Html.RenderMainNavigation(null);
                    <div>
                        <ul class="nav" style="float:right;">
                            <li class="dropdown" style="margin-right: 15px;">
                                <span class="dropdown-toggle navbar-btn btn btn-default" style="border-color: rgba(0,0,0,0.1)" data-toggle="dropdown">
                                   <i class="glyphicon glyphicon-align-justify"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Redigera Profil</a>
                                    </li>
                                    <li class="input">
                                        <input type="submit" class="navbar-btn input" value="Logga ut" />

                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>

                    }
                </nav>
        }

                <h3 class="muted">LetEmSale</h3>

                @RenderBody()

            </div>

        </body>
    </html>
