@using BlocketProject.Helpers
@{
    
}
<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width" />
    <title>LetEmSale</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link href="~/Style/Custom.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="muted">Let em sale</h3>
            </div>
        </div>

        @using (Html.BeginForm("Logout", "StartPage", FormMethod.Post))
        {

            <button type="submit">Logout</button>

        }
        
        @{ Html.RenderMainNavigation(null); }
        
        @RenderBody()
        
    </div>
</body>
</html>
