@model BlocketProject.Models.Pages.StartPage


@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Index</h2>

@Html.PropertyFor(x => x.ContentArea)
@Html.PropertyFor(x => x.MainBody)

@using (Html.BeginForm("Authenticate", "StartPage", FormMethod.Post))
{

    <button type="submit" class="logInOutButton">Login</button>

}
