@model BlocketProject.Models.Pages.StartPage

<div class="wrapper">
    @using (Html.BeginForm("Authenticate", "StartPage", FormMethod.Post))
    {
        if (!User.Identity.IsAuthenticated)
        {
            <button type="submit" class="loginbutton glow">Logga in med <img src="~/images/FB-f-Logo__white_72.png" /></button>
        }
    }

    @Html.PropertyFor(x => x.MainBody)
    @Html.PropertyFor(x => x.ContentArea)
</div>

