@model BlocketProject.Models.Pages.StartPage

<div class="startWrapper">

    @using (Html.BeginForm("Authenticate", "StartPage", FormMethod.Post))
    {
        if (!User.Identity.IsAuthenticated)
        {
        <button type="submit" class="logInOutButton">Login</button>
        }
    }
    @Html.PropertyFor(x => x.MainBody)
    @Html.PropertyFor(x => x.ContentArea)

</div>

