@model BlocketProject.Models.Pages.StartPage


@{ Layout = "~/Views/Shared/_Root.cshtml"; }

<h2>Index</h2>

@Html.PropertyFor(x => x.ContentArea)

@Html.PropertyFor(x => x.MainBody)


@using (Html.BeginForm("en/Hejsan","StartPage",FormMethod.Post))
        {
          
            <button type="submit">Click Me!</button>
            
        }