@model BlocketProject.Models.Pages.StartPage

<div class="projectWrapper">
    @using (Html.BeginForm("Authenticate", "StartPage", FormMethod.Post))
    {
        if (!User.Identity.IsAuthenticated)
        {
            @Html.PropertyFor(x => x.FirstPageBanner)
            <button type="submit" class="loginbutton glow">@Model.FacebookButtonText &nbsp;&nbsp;&nbsp;<img src="~/images/FB-f-Logo__white_72.png" /></button>
        
        }
    }

    @Html.PropertyFor(x => x.MainBody)
    @Html.PropertyFor(x => x.ContentArea)
</div>

