@model BlocketProject.Models.Blocks.InformationBlock
@{
    ViewBag.Title = "Index";
}
<div id="informationBlock">
    <img src="@Model.Image">
    <br />
    @Model.Information
    <br />
    <input type="submit" value="@Model.ButtonText" />
</div>