@model BlocketProject.Models.Blocks.InformationBlock
@{
    ViewBag.Title = "Index";
}
<div id="informationBlock">
@*    todo- skapa upp en css class med informationblock image size osv.. ta bort sizen ja satt på bilden*@

    <img src="@Model.Image" height="150" width="150" alt="Image" />
    <br />
    <p>@Model.Information</p>
    <br />
    <input type="submit" value="@Model.ButtonText" />
</div>
