@model BlocketProject.Models.ViewModels.AdsPageViewModel

<table class="statusTable">
    @if (Model.ListMaybeAttendingUsers.Count() != 0)
    {
        foreach (var user in Model.ListMaybeAttendingUsers)
        {
            <tr>
                <td>
                    @using (Html.BeginForm("Index", "ProfilePage", new { @UserId = user.UserId }, FormMethod.Post))
                    {
                        <button type="submit" class="linkButton">
                            <img src="@user.ImageUrl" />
                            @user.FirstName @user.LastName
                        </button>
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>
                <p>Inga gäster har registrerats.</p>
            </td>
        </tr>
    }

</table>
