@model BlocketProject.Models.ViewModels.AdsPageViewModel
@using BlocketProject.Helpers

<table class="statusTable">
    @if (ConnectionHelper.GetUserIdByEmail(User.Identity.Name) == Model.UserEventModel.UserId)
    {
        if (Model.ListPendingUsers.Count() != 0)
        {
            foreach (var user in Model.ListPendingUsers)
            {
                <tr>

                    <td>
                        <span>
                            @using (Html.BeginForm("Index", "ProfilePage", new { @UserId = user.UserId }, FormMethod.Post))
                            {
                                <button type="submit" class="linkButton LeftButton">
                                    <img src="@user.ImageUrl" />
                                    @user.FirstName @user.LastName
                                </button>
                            }
                            @using (Html.BeginForm("SetAttendingStatus", "AdsPage", new { @UserId = user.UserId, @EventId = Model.UserEventModel.EventId }, FormMethod.Post))
                            {
                                <button class="btn btn-default LeftButton statusButton">Acceptera</button>
                            }
                            @using (Html.BeginForm("RemoveAttendingStatus", "AdsPage", new { @UserId = user.UserId, @EventId = Model.UserEventModel.EventId }, FormMethod.Post))
                            {
                                <button class="btn btn-default LeftButton statusButton">Neka</button>
                            }
                        </span>
                    </td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <p>Inga vilande förfrågningar.</p>
                </td>
            </tr>
        }
    }




</table>
