@model BlocketProject.Models.ViewModels.StandardPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.PropertyFor(x => x.PageName)</h1>

@Html.PropertyFor(x => x.MainBody)
<br />
@Html.PropertyFor(x => x.CArea)